*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100vw;
  height: 120vh;
}
.top-half{
  z-index: 1;
  width: 100%;
  height: 15%;
  background-color: rgba(30, 190, 165, 0.96);
  position: relative;
}

.bottom-half{
  width: 100%;
  height: 85%;
  background-color: #EDF8F5;
}

.square{
  z-index: 2;
  width: 80vw;
  height: 110vh;
  background: black;
  background-color: #F7F7F7;
  display: flex;
  position: absolute;
  left: 10vw;
  top: 5vh;
}

.left-half{
  width: 30%;
  border-right: 0.5px solid lightgrey;
}

.right-half{
  width: 70%;
}

.right-icons>i{
  font-size: 16px;
  padding: 4px;
  margin-top: 20px;
  color: #808080;
  line-height: 5px;
}

.left-icons>img,
.img-conte>img{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin-top: 6px;
  margin-left: 6px;
}

.header,
.header-right{
  height: 8%;
  display: flex;
  justify-content: space-between;
}

.notifics{
  display: flex;
  padding: 15px;
  background: #FF9F71;
}

.fas-container{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
}

.fas-container>i{
  font-size: 28px;
  margin-left: 7px;
  color: #FF9F71;
  margin-top: 10px;
}

.link-container>b{
  font-size: 11px;
  margin-left: 20px;
  color: white;
}

.link-container>a{
  font-size: 10px;
  color: white;
  margin-left: 20px;
}

.search{
  padding: 5px;
}

.search>input{
  width: 80%;
  height: 20px;
  margin-left: 1.5vw;
}

.search>button{
  height: 21px;
}

.contacts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.02px solid lightgrey;
}

.user-mex>b,
.user-mex>span,
.hours>span,
.left-part>b,span{
  font-size: 11px;
  padding: 10px;
}

.img-cont>img{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-top: 5px;
}

.active{
  background: #D2D2D2;
}

.left-part,
.left-cont{
  display: flex;
  margin-left: 5px;
  margin-top: 1px;
}

.main{
  background-image: url(sfondo.png);
  width: 100%;
  height: 85%;
}

.footer{
  height: 10%;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.center-foo>input{
  width: 40vw;
  height: 60%;
  border-radius: 15px;
  border: 0.5px solid #808080;
}

.right-foo>i,
.left-foo>i{
  font-size: 30px;
  color: #808080;
}
